* { font-family: "Roboto Flex", sans-serif;
font-size: 20px;
margin: 0;
padding: 0;
box-sizing: border-box;}

html {background-color: black;
}

main { background-color: black;
width: 800px;
margin: auto;
background-image: url(/Imagens/BG.png);
background-position: cover;
background-repeat: no-repeat;
background-size: 710px;
display: grid;
}



.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100px;
        }




.img {display: grid;
    grid-column: 1/2;
    grid-row: 1/1;
    align-items: center;
    margin-left: 40px;
 }


.button {display: grid;
        grid-column: 2/3;
        grid-row: 1/1;
        align-items: center;
       justify-content: right;
       margin-right: 108px;
       }

.button .btn { 
    
padding: 12px;
border-radius: 8px;
background-color: yellowgreen;
border: none;
box-shadow: 0 0 8px greenyellow;}


/*fim do header */




/*Inicio do Container */

.container { display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-content: center;
box-sizing: border-box;
padding: 80px 40px;}



.txt { grid-column: 1/2;
    color: white;
     }


.txt h1, span{ font-size: 35px;
    color: white;
    line-height: 37px;
     }


.txt span{ font-size: 35px;
color: rgb(18, 222, 3);}


.txt p{ font-size: 15px;
color: rgb(237, 237, 237);
margin-top: 10px;}

.portfolio img{ width: 400px;
height: 200px;
border: none;
border-radius: 8px;
display: grid;
align-items: center;
justify-content: center;
box-shadow: 0 0 15px greenyellow;
transition: 09s;

}


.portfolio:hover { transform: scale(1.03);              background-color: yellowgreen;}


/*fim do Container */





/*Inicio links */


.content h1 { display: grid; 
    color: aliceblue;
text-align: center;}


.cards { margin-top: 50px;
    display: flex;
   justify-content: space-between; 
margin-bottom: 50px;}


   .card {margin:10px;
        background-color: rgb(0, 0, 0);
        width: 200px;
        height: 300px;
        box-shadow: rgba(0, 255, 26, 0.25) 0px 14px 28px, rgba(34, 255, 0, 0.22) 0px 10px 10px; 
        color: white;
        border: 2px solid greenyellow;
        border-radius: 8px;
        text-align: top left;}


    .card>img { width: 100%;
        border-top: 8px;
        border-bottom: 0;
    }


    .card>h1 { margin-left: 20px;
        
                }
    
    .card>p { margin-left: 10px;
            margin-right: 10px;
            margin-top: 5px;
            line-height: 15px;
                font-size: 12px;}

   .card >.btn { display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        border: none;
        border-radius: 10px;
        font-size: 14px;}

    button { font-size: 17px;
            background-color: yellowgreen;
            border: none;
            border-radius: 3px;
            padding: 5px 5px;
            box-shadow: 0 0 8px greenyellow;
            cursor: pointer;
            transition: 0.3s;}

    button:hover { transform: scale(1.05);}



footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px;
    align-items: center;
    text-align: center;
    font-weight: 100;
    background-color: yellowgreen;
    margin-top: 40px;}


    h3 { font-size: 10px;}


    footer a { font-size: 12px;
                text-decoration: none;
                color: black;
                font-weight: 700;}

    footer a:hover {color: aliceblue; }

    a { text-decoration: none;
        color: black;}